<div data-workout-form-target="yogaFields" style="display: none;">
  <%= form.label "details[style]", t('workout.details.style'), class: "tw-label" %>
  <%= form.select "details[style]",
        options_for_select(Details::Yoga::VALID_STYLES.map { |s| [s.titleize, s] }, (form.object.respond_to?(:details) && form.object.details.respond_to?(:style)) ? form.object.details.style : nil),
        { include_blank: true },
        class: "tw-input" %>
</div>
