<%= render "dashboard/menu" %>

<turbo-frame id="main">
<h1 class="mb-4 text-2xl font-bold tracking-tight fit-text-primary"><%= t('weight.update') %></h1>

<%= render 'form', weight: @weight %>
</turbo-frame>

