<div class="message-bubble">
  <strong class="chat-message-label">
    <%= message[:label] %> (<%= message[:date] %>):
  </strong>

  <pre class="chat-message-content"><%=message[:content]%></pre>
</div>