/*
 * This is a manifest file that'll be compiled into application.css.
 *
 *= require_self
 *= require font-awesome
 */

a.no-link-underline, a.no-link-underline:hover {
  text-decoration-line: none !important;
}

.tw-btn-primary {
  cursor: pointer;
}

.tw-btn-soft {
  cursor: pointer;
}

.tw-btn-danger {
  cursor: pointer;
}
